<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Insert - ADA</title>
</head>
<body>
    <h1>Enter data to insert to DB</h1>
    <form action="#" method="POST" name="frmData">
        <input type="number" placeholder="ID" name="txtId">
        <input type="text" placeholder="MAC Address" maxlength="12" name="txtMacAddress">
        <input type="text" placeholder="Description" name="txtDescription">
        <input type="text" placeholder="Type" name="txtType">
        <button>Save to DB</button>
    </form>
</body>
</html>